<form>
  <div class="form-group" style="margin-bottom: 10px;">
    <label>Open Sound</label>

    <div class="form-fields">
      <input
        type="text"
        name="soundOpenPath"
        class="image"
        placeholder="sound/path"
        value="{{openSoundPath}}">

      <button
        type="button"
        class="file-picker"
        data-type="audio"
        data-target="soundOpenPath"
        title="Browse Files">
        <i class="fas fa-file-import fa-fw"></i>
      </button>
    </div>
  </div>

  <div class="form-group">
    <label for="closeSound">Close Sound</label>
    <div class="form-fields">
      <input
        type="text"
        name="soundClosePath"
        class="image"
        placeholder="sound/path"
        value="{{closeSoundPath}}">

      <button
        type="button"
        class="file-picker"
        data-type="audio"
        data-target="soundClosePath"
        title="Browse Files">
        <i class="fas fa-file-import fa-fw"></i>
      </button>
    </div>
  </div>
</form>