<div class="wrapper pick-up-stix">
  <div class="file-input">

    <!-- Check box to determine if it's a container or not -->
    <div style="margin-bottom: 10px; display: flex; flex-direction: row;">
      <div style="margin-right: 5px;">
        <input id="isContainerCheckBox" name="isContainerCheckBox" type="checkbox">
        <label for="isContainerCheckBox">Container</label>
      </div>

      {{#if object.isContainer}}
      <div>
        <input id="canCloseCheckBox" name="canCloseCheckBox" type="checkbox">
        <label for="canCloseCheckBox">Closable</label>
      </div>
      {{/if}}
    </div>

    <!-- image selection inputs for closed and open images if it's a container -->
    {{#if object.isContainer}}
      <div style="display: flex; flex-direction: row; align-items: flex-start; margin-bottom: 10px;">
        <div style="display: flex; flex-direction: column;">
          <span style="margin-right: 10px; margin-bottom: 5px;">Container Closed</span>
          <input class="closed" type="file" style="margin-bottom: 5px;" />
          {{#if object.imageContainerClosedPath}}
            <img class="container-image" src="{{object.imageContainerClosedPath}}" />
          {{/if}}
        </div>
        <div style="display: flex; flex-direction: column;">
          <span style="margin-right: 10px; margin-bottom: 5px;">Container Open</span>
          <input class="open" type="file" style="margin-bottom: 5px;" />
          {{#if object.imageContainerOpenPath}}
            <img class="container-image" src="{{object.imageContainerOpenPath}}" />
          {{/if}}
        </div>
      </div>
    {{/if}}
  </div>

  <!-- currency display -->
  <div class="currency-wrapper">
    <div>
      <div class="plat"></div>
      <input data-currency-type="pp" class="currency-input" type="number" />
    </div>

    <div>
      <div class="gold"></div>
      <input data-currency-type="gp" class="currency-input" type="number" />
    </div>

    <div>
      <div class="electrum"></div>
      <input data-currency-type="ep" class="currency-input" type="number" />
    </div>

    <div>
      <div class="silver"></div>
      <input data-currency-type="sp" class="currency-input" type="number" />
    </div>
    <div>
      <div class="copper"></div>
      <input data-currency-type="cp" class="currency-input" type="number" />
    </div>
  </div>

  <!-- available items -->
  <div class="item-wrapper">
    {{#each object.items}}
      <div data-item-id="{{this._id}}" class="item">
        <img src="{{this.img}}"></img>
        <input class="count" type="number" min="0">
        <div class="item-name">{{ this.name }}</div>
      </div>
    {{/each}}
  </div>
</div>
