<div class="wrapper pick-up-stix">
  <div class="file-input">
    <div class="check-box">
      {{#if object.isContainer}}
        <div style="display: flex; flex-direction: column;">
          <input checked class="file-input-checkbox" type="checkbox"/><span style="margin-right: 10px;">Container Closed</span>
          <input class="closed" type="file" />
          {{#if object.imageContainerClosedPath}}
            <img class="container-image" src="{{object.imageContainerClosedPath}}" />
          {{/if}}
        </div>
        <div style="display: flex; flex-direction: column;">
          <span style="margin-right: 10px;">Container Open</span>
          <input class="open" type="file" />
          {{#if object.imageContainerOpenPath}}
            <img class="container-image" src="{{object.imageContainerOpenPath}}" />
          {{/if}}
        </div>
      {{else}}
        <input class="file-input-checkbox" type="checkbox"/>
        <span style="margin-right: 10px;">Container</span>
      {{/if}}
    </div>
  </div>
  <div class="currency-wrapper">
    <div>
      <div class="plat"></div>
      <input data-currency-type="pp" class="currency-input" type="number" />
    </div>

    <div>
      <div class="gold"></div>
      <input data-currency-type="gp" class="currency-input" type="number" />
    </div>

    <div>
      <div class="electrum"></div>
      <input data-currency-type="ep" class="currency-input" type="number" />
    </div>

    <div>
      <div class="silver"></div>
      <input data-currency-type="sp" class="currency-input" type="number" />
    </div>
    <div>
      <div class="copper"></div>
      <input data-currency-type="cp" class="currency-input" type="number" />
    </div>
  </div>
  <div class="item-wrapper">
    {{#each object.items}}
      <div data-item-id="{{this._id}}" class="item">
        <img src="{{this.img}}"></img>
        <input class="count" type="number" min="0">
        <div class="item-name">{{ this.name }}</div>
      </div>
    {{/each}}
  </div>
</div>
