<div class="flexcol" style="justify-content: flex-start;">
  <span style="flex: unset;"><em>Change default images in settings</em></span>
  <form>
    <div style="float: left;">
      <h2>Closed image</h2>
      <img
        id="closedImage"
        name="imageClosePath"
        data-edit="imageClosePath"
        src="{{data.flags.[pick-up-stix].[pick-up-stix].container.[imageClosePath]}}" />
    </div>

    <div style="float: left;">
      <h2>Opened image</h2>
      <img
        id="openedImage"
        name="imageOpenPath"
        data-edit="imageOpenPath"
        src="{{data.flags.[pick-up-stix].[pick-up-stix].container.[imageOpenPath]}}"/>
    </div>
  </form>
</div>