.wrapper.pick-up-stix {
  display: flex;
  flex-direction: column;
}

.pick-up-stix .currency-wrapper {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.pick-up-stix .currency-wrapper > * {
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pick-up-stix .currency-wrapper > * div {
  width: 32px;
  height: 32px;
}

.pick-up-stix .currency-wrapper > * input {
  width: 60px;
}

.pick-up-stix .currency-wrapper .plat {
  margin-right: 5px;
  background: url(assets/currency-sprite.png);
}

.pick-up-stix .currency-wrapper .gold {
  margin-right: 5px;
  background: url(assets/currency-sprite.png) -34px 0px;
}

.pick-up-stix .currency-wrapper .electrum {
  margin-right: 5px;
  background: url(assets/currency-sprite.png) -66px 0px;
}

.pick-up-stix .currency-wrapper .silver {
  margin-right: 5px;
  background: url(assets/currency-sprite.png) -98px 0px;
}

.pick-up-stix .currency-wrapper .copper {
  margin-right: 5px;
  background: url(assets/currency-sprite.png) -130px 0px;
}

.pick-up-stix .file-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.pick-up-stix .file-input .container-image {
  max-width: 100px;
}

.pick-up-stix .file-input .check-box {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}

.pick-up-stix .item-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.pick-up-stix .item {
  padding: 5px;
  max-width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pick-up-stix .item * {
  margin-bottom: 5px;
}

.pick-up-stix .item img {
  border: 1px solid rgba(0, 0, 0, 0);
  max-width: 80px;
}

.pick-up-stix .item.active img {
  border: 1px solid blue;
}

.pick-up-stix .item div.item-name {
  text-align: center;
}

.pick-up-stix .item input {
  display: block;
  width: 100%;
}