.wrapper.pick-up-stix {
  display: flex;
  flex-direction: column;
}

.pick-up-stix .currency-wrapper {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.pick-up-stix .currency-wrapper > * {
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pick-up-stix .currency-wrapper > * div {
  width: 32px;
  height: 32px;
}

.pick-up-stix .currency-wrapper > * input {
  width: 60px;
}

.pick-up-stix .currency-wrapper .plat {
  margin-right: 5px;
  background: url(assets/currency-sprite.png);
}

.pick-up-stix .currency-wrapper .gold {
  margin-right: 5px;
  background: url(assets/currency-sprite.png) -34px 0px;
}

.pick-up-stix .currency-wrapper .electrum {
  margin-right: 5px;
  background: url(assets/currency-sprite.png) -66px 0px;
}

.pick-up-stix .currency-wrapper .silver {
  margin-right: 5px;
  background: url(assets/currency-sprite.png) -98px 0px;
}

.pick-up-stix .currency-wrapper .copper {
  margin-right: 5px;
  background: url(assets/currency-sprite.png) -130px 0px;
}

span.pick-up-stix-chat-currency {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 5px;
}

span.pick-up-stix-chat-currency.pp {
  background: url(assets/currency-sprite.png);
}

span.pick-up-stix-chat-currency.gp {
  background: url(assets/currency-sprite.png) -34px 0px;
}

span.pick-up-stix-chat-currency.ep {
  background: url(assets/currency-sprite.png) -66px 0px;
}

span.pick-up-stix-chat-currency.sp {
  background: url(assets/currency-sprite.png) -98px 0px;
}

span.pick-up-stix-chat-currency.cp {
  background: url(assets/currency-sprite.png) -130px 0px;
}

.dnd5e.sheet.actor .inventory-list:not(:last-child) {
  border-right: 1px solid #c9c7b8;
}

.dnd5e.sheet.actor .header-details .container-description {
  font-family: "Signika", sans-serif;
  font-weight: 400;
}

.dnd5e.sheet.actor .inventory-list .item-qty {
  flex: 0 0 60px;
  border-left: 1px solid #c9c7b8;
  color: #7a7971;
  overflow: hidden;
  text-align: center;
}

.dnd5e.sheet.actor .inventory-list .item-value {
  flex: 0 0 100px;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  color: #7a7971;
  overflow: hidden;
  text-align: center;
}

.dnd5e.sheet.actor .inventory-list .item-controls a,
ul.currency-list li .item-controls a,
ul.currency-list li.item-controls a {
  text-align: center;
  color: #7a7971;
}

.dnd5e.sheet.actor .inventory-list .item-controls a.item-take,
ul.currency-list li .item-controls a,
ul.currency-list li.item-controls a {
  flex: 1;
}

section.inventory-details,
section.currency-details {
  border-bottom: 2px groove #eeede0;
  padding-top: 5px;
  justify-content: space-between;
  align-items: center;
}

section.currency-details .currency-header {
  flex: 0 0 120px;
}

ul.currency-list {
  list-style: none;
  justify-content: space-around;
}

ul.currency-list > * {
  flex: unset;
}

ul.currency-list li.item-controls {
  flex: 0 0 44px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.dnd5e.sheet.actor .currency-list input[type="text"] {
  flex: 0 0 48px;
  text-align: center;
  border-bottom: 2px groove #eeede0;
}

.dnd5e.sheet.actor .currency-list input[type="text"].isNotGM:focus,
.dnd5e.sheet.actor .currency-list input[type="text"].isNotGM:hover {
  box-shadow: unset;
  border: unset;
  border-bottom: 2px groove #eeede0;
}

.dnd5e.sheet.actor .currency-list input[type="text"] {
  margin-left: 8px;
  height: unset;
}
