<form>
  <div class="form-group" style="margin-bottom: 10px;">
    <label>Open Sound</label>
    <div class="form-fields">
      <input type="text" name="flags.pick-up-stix.pick-up-stix.containerOpenSoundPath" class="image" placeholder="sound/path" value="{{openSoundPath}}">
      <button type="button" class="file-picker" data-type="audio" data-target="flags.pick-up-stix.pick-up-stix.containerOpenSoundPath" title="Browse Files" tabindex="-1">
        <i class="fas fa-file-import fa-fw"></i>
      </button>
    </div>
  </div>

  <div class="form-group">
    <label for="closeSound">Close Sound</label>
    <div class="form-fields">
      <input type="text" name="flags.pick-up-stix.pick-up-stix.containerCloseSoundPath" class="image" placeholder="sound/path" value="{{closeSoundPath}}">
      <button type="button" class="file-picker" data-type="audio" data-target="flags.pick-up-stix.pick-up-stix.containerCloseSoundPath" title="Browse Files" tabindex="-1">
        <i class="fas fa-file-import fa-fw"></i>
      </button>
    </div>
  </div>
</form>