<div class="file-input">
  <!-- Check box to determine if it's a container or not -->
  <div style="margin-bottom: 10px; display: flex; flex-direction: row;">
    <div style="margin-right: 5px;">
      <input id="isContainerCheckBox" name="isContainerCheckBox" type="checkbox">
      <label for="isContainerCheckBox">Container</label>
    </div>

    {{#if object.isContainer}}
    <div>
      <input id="canCloseCheckBox" name="canCloseCheckBox" type="checkbox">
      <label for="canCloseCheckBox">Closable</label>
    </div>
    {{/if}}
  </div>

  <!-- image selection inputs for closed and open images if it's a container -->
  {{#if object.isContainer}}
    <div style="display: flex; flex-direction: row; align-items: flex-start; margin-bottom: 10px;">
      <div style="display: flex; flex-direction: column;">
        <span style="margin-right: 10px; margin-bottom: 5px;">Container Closed</span>
        <input class="closed" type="file" style="margin-bottom: 5px;" />
        {{#if object.imageContainerClosedPath}}
          <img class="container-image" src="{{object.imageContainerClosedPath}}" />
        {{/if}}
      </div>
      <div style="display: flex; flex-direction: column;">
        <span style="margin-right: 10px; margin-bottom: 5px;">Container Open</span>
        <input class="open" type="file" style="margin-bottom: 5px;" />
        {{#if object.imageContainerOpenPath}}
          <img class="container-image" src="{{object.imageContainerOpenPath}}" />
        {{/if}}
      </div>
    </div>
  {{/if}}
</div>