<div>
  <form>
    <div style="float: left;">
      <h2>Closed image</h2>
      <img id="closedImage" name="imageContainerClosedPath" data-edit="imageContainerClosedPath" src="{{data.flags.[pick-up-stix].[pick-up-stix].imageContainerClosedPath}}" />
    </div>

    <div style="float: left;">
      <h2>Opened image</h2>
      <img id="openedImage" name="imageContainerOpenPath" data-edit="imageContainerOpenPath" src="{{data.flags.[pick-up-stix].[pick-up-stix].imageContainerOpenPath}}"/>
    </div>
  </form>
</div>