<form>
  <header class="sheet-header sheet-section flexrow">
    <!-- display the image -->
    <img class="profile" src="{{profileImage}}" title="chest" data-edit="img">

    <!-- container name and description -->
    <section class="header-details flexcol">
      <div class="flexrow" style="align-items: center; flex: unset; border-bottom: 2px groove #eeede0; padding-bottom: 5px;">
        {{#if user.isGM}}
          <input class="container-name" type="text" name="name" value="{{object.name}}" style="border-bottom: unset;">
        {{else}}
          <span class="container-name" style="border-bottom: unset;">{{object.name}}</span>
        {{/if}}

        {{#if user.isGM}}
          <div class="flexcol" style="flex: 0 0 180px;">
            {{#if isContainer}}
              <div class="flexrow" style="justify-content: flex-start; align-items: center; margin-bottom: 5px;">
                <input id="canCloseCheckbox" type="checkbox" name="flags.pick-up-stix.pick-up-stix.container.canClose" data-dtype="Boolean">
                <label style="flex: unset;">Can close</label>
              </div>
            {{/if}}

            {{#if isToken}}
              <div class="flexrow" style="flex: unset; margin-bottom: 5px;">
                <input id="scale" value="{{object.width}}" name="width" data-dtype="Number" type="range" min=".1" max="2" step=".1">
                <span id="scaleSpan" style="flex: 0 0 40px;" class="range-value">{{object.width}}</span>
              </div>
            {{/if}}

            <div class="flexrow configure-sound" style="justify-content: center;">
              <i style="flex: unset; margin-right: 5px;" class="fas fa-music"></i>
              <span>Configure sounds</span>
            </div>
          </div>
        {{/if}}
      </div>

      <div class="flexrow">
        {{#if user.isGM}}
          <textarea style="resize: none;" class="container-description" id="description" name="flags.pick-up-stix.pick-up-stix.container.description">{{description}}</textarea>
        {{else}}
          <span id="description" class="container-description">{{description}}</span>
        {{/if}}
      </div>
    </section>
  </header>

  <div class="flexrow">
    {{#if hasToken}}
      <div class="flexcol character-selection sheet-section-right">
        {{#each tokens as | token |}}
          <div class="flexrow row {{token.class}}" data-actor_select data-token_id="{{token.token.id}}"><img class="profile" src="{{token.token.actor.img}}" /><span>{{token.token.actor.name}}</span></div>
        {{/each}}
      </div>
    {{/if}}
    <div>
      <!-- display currencies -->
      {{#if currencyEnabled}}
        <section class="currency-details sheet-section flexrow">
          <h3 class="currency-header">Currency <i class="fas fa-coins"></i></h3>
          <ul class="currency-list flexrow">
            {{#each currencyTypes as | currencyOb |}}
              <label>{{currencyOb.long}}</label>
              {{#with (lookup ../currency currencyOb.short)}}
                <input name="flags.pick-up-stix.pick-up-stix.container.currency.{{currencyOb.short}}" class="currency-input" type="text" data-itemType="currency" data-dtype="Number" value="{{this}}">
              {{/with}}
            {{/each}}
            <li class="item-controls"><a class="currency-take"><i class="fas fa-hand-paper"></i></a></li>
          </ul>
        </section>
      {{/if}}

      <!-- display loot -->
      <section class="inventory-details">
        <h3>Loot <i class="fas fa-box"></i></h3>

        <ol class="inventory-list flexcol">
          {{#each lootTypes as | lootType |}}
            <li class="inventory-header flexrow">
                <h3 class="item-name flexrow">{{lootType}}</h3>
                <div class="item-details item-qty">Qty</div>
                <div class="item-details item-value">Value</div>
                <div class="item-details"></div>
            </li>

            <ol data-itemType="{{lootType}}" class="item-list">
              {{#each (lookup ../loot lootType) as | loot |}}
                <li class="item flexrow">
                  <div class="item-name flexrow">
                    <div class="item-image" style="background-image: url('{{loot.img}}');"></div>
                    <h4>{{loot.name}}</h4>
                  </div>

                  <input
                    class="item-details quantity-input"
                    name="flags.pick-up-stix.pick-up-stix.container.loot.{{@lootType}}.{{@index}}.data.{{../../quantityDataPath}}"
                    type="text"
                    data-loot-type="{{lootType}}"
                    data-loot-id="{{loot._id}}"
                    data-dtype="Number"
                    class="item-qty"
                    value="{{loot.qty}}"
                  >

                  <div class="item-details item-value">
                    {{loot.price}}
                  </div>

                  <div class="item-details item-controls">
                    <!-- hand icon to take loot -->
                    <a data-id="{{loot._id}}" class="item-take" title="Take Item">
                      <i class="fas fa-hand-paper"></i>
                    </a>

                    {{#if ../../user.isGM}}
                    <!-- trash icon to delete loot -->
                    <a data-id="{{loot._id}}" class="item-delete" title="Delete Item">
                      <i class="fas fa-trash"></i>
                    </a>
                    {{/if}}
                  </div>
                </li>
              {{/each}}
            </ol>
          {{/each}}
        </ol>
      </section>
    </div>
  </div>
</form>
