<form>
  <header class="sheet-header sheet-section flexrow">
    <!-- display the image -->
    <img class="profile" src="{{profileImage}}" title="chest" data-edit="img">

    <section class="header-details">
      <div class="flexrow" style="align-items: center; padding-bottom: 5px; height: 100%;">
        <!-- container name and description -->
        <div class="flexcol" style="align-self: flex-start; height: 100%; padding-right: 5px;">
          <!-- container name -->
          {{#if user.isGM}}
            <input
              class="container-name"
              type="text"
              name="name"
              value="{{object.name}}"
              style="flex: none; border-bottom: 2px groove #eeede0;">
          {{else}}
            <span
              class="container-name"
              style="border-bottom: unset; flex: none;">{{object.name}}</span>
          {{/if}}

          <!-- container description -->
          {{#if user.isGM}}
            <textarea
              spellcheck="false"
              placeholder="Enter a description"
              style="resize: none;"
              class="container-description"
              id="description"
              name="container.description">{{description}}</textarea>
          {{else}}
            <span id="description" class="container-description">{{description}}</span>
          {{/if}}
        </div>

        {{#if user.isGM}}
          <div class="flexcol" style="flex: 0 0 180px;">
            <div class="flexrow" style="justify-content: flex-start; align-items: center; margin-bottom: 5px;">
              <input id="canCloseCheckbox" type="checkbox" name="container.canClose" data-dtype="Boolean">
              <label style="flex: unset;">Can close</label>
            </div>

            <div class="flexcol" style="flex: unset; margin-bottom: 5px;">
              <div class="flexrow" style="align-items: center; margin-bottom: 5px;">
                <label style="flex: 1;" for="width">Width</label>

                <input
                  style="flex: 2;"
                  id="width"
                  value="{{width}}"
                  name="tokenData.width"
                  type="number"
                  data-dtype="Number">
              </div>

              <div class="flexrow" style="align-items: center;">
                <label style="flex: 1;" for="height">Height</label>

                <input
                  style="flex: 2;"
                  id="height"
                  value="{{height}}"
                  name="tokenData.height"
                  type="number"
                  data-dtype="Number">
              </div>
            </div>

            <div class="flexrow configure-sound" style="justify-content: center;">
              <i style="flex: unset; margin-right: 5px;" class="fas fa-music"></i>
              <span>Configure sounds</span>
            </div>
          </div>
        {{/if}}
      </div>
    </section>
  </header>

  <div class="flexrow">
    {{#if hasToken}}
      <div class="flexcol character-selection sheet-section-right">
        {{#each tokens as | token |}}
          <div
            class="flexrow row {{token.class}}"
            data-actor_select
            data-token_id="{{token.token.id}}">
              <img class="profile" src="{{token.token.actor.img}}" />
              <span>{{token.token.actor.name}}</span>
            </div>
        {{/each}}
      </div>
    {{/if}}
    <div>
      <!-- display currencies -->
      {{#if currencyEnabled}}
        <section class="currency-details sheet-section flexrow">
          <h3 class="currency-header">Currency <i class="fas fa-coins"></i></h3>
          <ul class="currency-list flexrow">
            {{#each currencyTypes as | currencyOb |}}
              <div class="flexrow item">
                <span class="item-label">{{currencyOb.long}}</span>
                {{#with (lookup ../currency currencyOb.short)}}
                  <input
                    name="container.currency.{{currencyOb.short}}"
                    class="currency-input"
                    type="text"
                    data-itemType="currency"
                    value="{{this}}">
                {{/with}}
            </div>
            {{/each}}

            {{#if hasToken}}
            {{#if showTakeCurrency}}
              <li class="item-controls"><a class="currency-take"><i class="fas fa-hand-paper"></i></a></li>
            {{/if}}
            {{/if}}
          </ul>
        </section>
      {{/if}}

      <!-- display loot -->
      <section class="inventory-details">
        <div class="flexrow" style="align-items: center;">
          <h3 style="margin: 0;">Loot <i class="fas fa-box"></i></h3>

          <button class="loot-all-button"><i class="fas fa-gem"></i>LOOT ALL</button>
        </div>

        <ol class="inventory-list flexcol">
          {{#each lootTypes as | lootType |}}
            <li class="inventory-header flexrow">
                <h3 class="item-name flexrow">{{lootType}}</h3>
                <div class="item-details item-qty">Qty</div>
                <div class="item-details item-value">Value</div>
                <div class="item-details"></div>
            </li>

            <ol data-itemType="{{lootType}}" class="item-list">
              {{#each (lookup ../loot lootType) as | loot |}}
                <li class="item flexrow">
                  <div class="item-name flexrow">
                    <div class="item-image" style="background-image: url('{{loot.img}}');"></div>
                    <h4>{{loot.name}}</h4>
                  </div>

                  <input
                    class="item-details quantity-input"
                    name="container.loot.{{@lootType}}.{{@index}}.data.{{../../quantityDataPath}}"
                    type="text"
                    data-loot-type="{{lootType}}"
                    data-loot-id="{{loot._id}}"
                    class="item-qty"
                    value="{{loot.qty}}"
                  >

                  <div class="item-details item-value">
                    {{loot.price}}
                  </div>

                  <div class="item-details item-controls">
                    <!-- hand icon to take loot -->
                    {{#if ../../hasToken}}
                      <a data-id="{{loot._id}}" class="item-take" title="Take Item">
                        <i class="fas fa-hand-paper"></i>
                      </a>
                    {{/if}}

                    {{#if ../../user.isGM}}
                    <!-- trash icon to delete loot -->
                    <a data-id="{{loot._id}}" class="item-delete" title="Delete Item">
                      <i class="fas fa-trash"></i>
                    </a>
                    {{/if}}
                  </div>
                </li>
              {{/each}}
            </ol>
          {{/each}}
        </ol>
      </section>
    </div>
  </div>
</form>
